


<% layout('layouts/boilerplate')%>

<h1>Content</h1>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% for(let category of categories) { %>
			<div class="col-md-6 col-sm-12 col-lg-4 ">
				<div class="card category">
					
				

					<% if( category.content[0].images[0]){ %>
						<%= v2 = blue %> 
						<% v1= `${category.content[0].images[0].url}` %>

						<div style ='background-image: url(<%= v1%>);
						background-repeat: no-repeat; '>
						<h1>Test</h1>
						</div>

					  <% } else{ %>  
						<img src="#" class="card-img-top">
					 <% } %>
					
					
				</div>
			</div>
		<% } %>
	</div>
</div>

