<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/Stylesheets/home.css">

 
<h1>categories</h1>
<% for( let category of allCategories ) { %>
 <section class="intro">
	 <% if (category.content[0].category) { %>
	    <h1 class="section__title section__title--intro">
            <% category.content[0].category %> 
        </h1>
        <% if (category.content[0].images[0]) { %>
		 <a href="/content/category/<%= category.id %> "><img src="<%= category.content[0].images[0].url %> " alt="" class="intro__img"></a>
		<% } %>
        
    </section>
    
    </div>
	 <% } %>
      
 
<% } %>
   