<% layout('layouts/boilerplate')%>
<form action="/api/test" method="post">
<label for=>
      <input type="checkbox" id="a" name="a" value="verify">
   a

    </label>
    <label for=>
      <input type="checkbox" id="b" name="b" value="verify">
   b

    </label>
    <button class="btn"></button>
    </form>