<% layout('layouts/boilerplate')%>

    
    <link rel="stylesheet" href="/Stylesheets/forms.css">
    <div class="container">
        <img src="Img/kate-blonde.jpg" alt="">
        <form class="form-1">
            <h1>Login</h1>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
            <span>Forgot Password</span>
            <button>Login</button>
        </form>
    </div>
