<% layout('layouts/boilerplate')%>

<h1>Welcome  <% user.username %> </h1>


    <p>upload new content</p>
    <button class="btn">
        <a href="/admin/newContent">Upload new content</a>
    </button>
</div>
